
.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

.left-part {
    line-height: 30px;
    background-color: #f7f7f7;
    height: 100%;
    width: 200px;
    float: left;
}

.logo {
    line-height: 30px;
    background-color: #f9f9f9;
    height: 190px;
    width: 190px;
    float: left;
    padding: 5px;
}

.person-img {
    height: 100%;
    width: 100%;
}

.right-part {
    line-height: 30px;
    background-color: #eeeeee;
    height: 100%;
    width: 200px;
    float: right;
}

.middle-part {
    width: 350px;
    float: left;
    padding: 10px;
}

