<link href="/static/css/main.css" rel="stylesheet" type="text/css">
<title>xiyang的博客</title>

<body background="/media/bkg.gif">

<div class="header">
    <h1>Xiyang Zhang</h1>
</div>

<div class="left-part">
    <div class="logo">
        <img class="person-img" src="/media/pic.jpg"/>
    </div>
    xiyang<br>
    zhang<br>
</div>

<div class="middle-part">
    {% for blog in all_blog %}

        <article>
            {{ blog.title }} <br>
            {{ blog.create_time|date:'Y-m-d' }} <br>
            {{ blog.category.name }} <br>
            {{ blog.content }}<br>
        </article>

    {% endfor %}
</div>

<div class="right-part">

</div>


</body>
